.carousel {
  max-height: 100vh;
  background: #ccc;
  z-index: 0;
}
.carousel > .carousel-control {
  opacity: 0.4;
}
.carousel > .carousel-control:hover {
  opacity: 1;
}
.carousel > .carousel-indicators {
  top: 10px;
}

.carousel-item {
  width: 100vw;
  height: 50vh;
  z-index: 0;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.7);
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
}

section {
  padding-top: 5rem;
}

@media only screen and (max-width: 768px) {
  .carousel-image {
    width: auto !important;
  }
}

@media only screen and (min-width: 768px) {
  .carousel-image {
    width: 100% !important;
  }
}